*{
    font-family: 'Work Sans',sans-serif;
}
.header{
    width: 100%;
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    padding-top: 200px;
    text-align: right;
    /* padding-right: 200px; */
    margin-bottom: 131px;
    background-size: 100% 100%;
}
.btn-primary{
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    height: 64px;
    border-radius: 5px;
    background-color: #F15B22;
    margin-bottom: 166px;
}
.h-button{
    padding-left: 1000px;
    padding-right: 230px;

}
.banner{
    height: 500px;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    padding-left: 1000px;
    padding-right: 230px;
}
.banner-discription{
    font-weight: 400;
    font-size: 20px;
    color: #444343;
    padding-left: 1000px;
    padding-right: 230px;
}
.fail-life{
    display: flex;
    gap: 87px;
    margin-left:206px ;
}
.fail{
    margin-top: 370px;
}
.fail-title{
    font-weight: 700;
    font-size: 40px;
    margin-right: 450px;
    margin-bottom: 24px;
}
.fail-discription{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-right: 322px;
    margin-bottom: 16px;
}
li{
    list-style: none;
}

li:before{
    content:"\2713";
    color: green;
}
.plan-title{
font-weight: 700;
font-size: 40px;
text-align: center;
}
.life-plan{
    border-radius: 10px;
    padding: 130px 230px;
}
.plan-title{
font-weight: 700;
font-size: 40px;
}
.plan-container{
    display: flex;
    gap: 90px;
    margin-top: 50px;
    justify-content: center;
}
.learn{
    text-align: center;
}
.learn-title{
    font-weight: 700;
    font-size: 30px;
    margin-top: 24px;
}
.learn-discription{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    margin-top: 16px;
}
.motive-detail p{
    width: 459px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF; 
}
.motive-detail {
    padding: 19px 65px;

}
.motive{
        margin-bottom:100px;
        width: 1200px;
        height: 300px;
        background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url("../images/watch.png");
        background-repeat: no-repeat;
        margin: auto;
} 

.future{
    display: flex;
    gap: 300px;
    background-color: #151414;
    padding: 130px 230px;
    color: #F8F8F8;
    margin-top: 100px;
}
.future .future-title{
    text-align: left;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
}
.future-discription{
    margin-bottom: 24px;
}
.phone{
    margin-top: 16px;
    margin-bottom: 32px;
}
.future a{
        text-decoration: none;
}
.future input[type="email"]{
    margin-bottom: 24px;
    margin-top: 50px;
    border: 0;
    width: 100%;
    padding: 18px 30px
}
.button{
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 20px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-bottom: 166px;

}
.text-in{
    color: #FFFFFF;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
  input[type=submit] {
    background-color: #F15B22;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
  }
  .container {
    border-radius: 5px;
    background-color: #444343;
    padding: 20px;
    margin-top: 130px;
    margin-left: 150px;
    margin-right: 150px;
  }